.landing-hero{
    padding-top: 120px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trafy-bg-black);
}
.landing-hero-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.landing-hero-container h1{
    width: 54%;
    font-size: 68px;
    font-family: var(--h-font);
    font-weight: 500;
    color: var(--h-white);
    line-height: 140%;
    text-align: center;
}
.landing-hero-container p{
    width: 80%;
    font-size: 24px;
    font-family: var(--h-font);
    font-weight: 400;
    color: var(--h-white);
    line-height: 150%;
    text-align: center;
}
.landing-hero-button{
    margin-top: 8px;
    padding: 16px 24px;
    width: max-content;
    height: max-content;
    border: 1px solid var(--h-white);
    border-radius: 8px;
    background-color: var(--h-white);
    font-size: 22px;
    font-weight: 300;
    color: var(--h-black);
    font-family: var(--h-font);
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

@media only screen and (max-width:1280px){
    .landing-hero-container h1{
        width: 70%;
    }
}
@media only screen and (max-width:1024px){
    .landing-hero-container{
        gap: 1.5rem;
    }
    .landing-hero-container h1{
       font-size: 56px;
    }
    .landing-hero-container p,.landing-hero-button{
        font-size: 20px;
    }
}
@media only screen and (max-width:850px){
    .landing-hero-container{
        width:90%
    }
    .landing-hero-container h1{
        width: 80%;
        /* font-size: 48px; */
     }
}
@media only screen and (max-width:600px){
    .landing-hero-container h1{
        width: 90%;
        font-size: 48px;
     }
     .landing-hero-container p{
        width: 100%;
     }
}
@media only screen and (max-width:400px){
    .landing-hero{
        padding-top: 100px;
    }
    .landing-hero-container{
        width:90%
    }
    .landing-hero-container h1{
        width: 100%;
        font-size: 42px;
     }
     .landing-hero-container p,.landing-hero-button{
        font-size: 18px;
    }
}
/* -------------------------------------------------------Landing Research----------------------------------------- */

.landing-research{
    padding-top: 110px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trafy-bg-black);
}
.landing-research-container{
    width: 90%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.landing-research-left h2{
    font-size: 48px;
    font-family: var(--h-font);
    font-weight: 500;
    color: var(--h-white);
}
.landing-research-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
.landing-research-right-box{
    width: 350px;
    height: 350px;
    padding: 34px 24px;
    background-color: var(--trafy-bg-black);
    border: 1px solid var(--box-border);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.landing-research-right-box h3{
    font-size: 28px;
    font-family: var(--h-font);
    font-weight: 500;
    color: var(--h-white);
}
.landing-research-right-box p{
    font-size: 22px;
    font-family: var(--h-font);
    font-weight: 400;
    color: var(--p-white);
}
@media only screen and (max-width:1200px){
    .landing-research-right-box{
        width: 300px;
        height: 300px;
    }
    .landing-research-right-box h3{
        font-size: 26px;
    }
    .landing-research-right-box p{
        font-size: 20px;
    }
}
@media only screen and (max-width:1024px){
    .landing-research-container{
        flex-direction: column;
        gap: 3.5rem;
    }
    .landing-research-left h2 {
        font-size: 44px;
    }
    .landing-research-right {
        grid-template-columns: max-content max-content;
    }
    
    .landing-research-right-box {
        width: 350px;
        height: 350px;
    }
}
@media only screen and (max-width:850px){
    .landing-research{
        padding-top: 90px;
        padding-bottom: 70px;
    }
    .landing-research-container{
        gap: 3.5rem;
    }
    .landing-research-right{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .landing-research-right-box{
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width:720px){
    .landing-research-right-box{
        width: 100%
    }
    .landing-research-right-box h3 {
        font-size: 28px;
    }
    .landing-research-right-box p {
        line-height: 160%;
        font-size: 22px;
    }
}
@media only screen and (max-width:600px){
    .landing-research {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .landing-research-container{
        gap: 2.5rem;
    }
    .landing-research-left h2{
        font-size: 38px;
    }
    .landing-research-right-box h3 {
        font-size: 24px;
    }
    .landing-research-right-box p {
        line-height: 160%;
        font-size: 20px;
    }
}
@media only screen and (max-width:400px){
    .landing-research {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .landing-research-container {
        gap: 2rem;
    }
    .landing-research-left h2{
        font-size: 34px;
    }
    .landing-research-right-box{
        height: max-content;
        background-color: var(--trafy-grey);
    }
    .landing-research-right-box h3 {
        font-size: 22px;
    }
    .landing-research-right-box p {
        line-height: 160%;
        font-size: 18px;
    }
}
/* ----------------------------------------------------------Landing-solution------------------------------------------ */

.landing-solution{
    padding-top: 110px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trafy-bg-black);
}
.landing-solution-container{
    width: 90%;
    display: flex;
    gap: 3.5rem;
    /* justify-content: space-between; */
}
.landing-solution-left{
    width: 56%;
}
.landing-solution-left h2{
    width: 85%;
    font-size: 48px;
    font-family: var(--h-font);
    font-weight: 500;
    color: var(--h-white);
    line-height: 150%;
}
.landing-solution-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.landing-solution-box{
    padding: 14px 32px;
    border: 1px solid var(--box-border);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-solution-box h3{
    font-size: 28px;
    font-family: var(--h-font);
    font-weight: 400;
    color: var(--h-white);
}

@media only screen and (max-width:1200px){
    .landing-solution-box h3{
        font-size: 26px;
    }
}
@media only screen and (max-width:1024px){
    .landing-solution-container{
        gap: 3.5rem;
    }
    .landing-solution-left h2{
        width: 95%;
        font-size: 44px;
        line-height: 130%;
    }
    .landing-solution-left {
        width: 50%;
    }
    .landing-solution-right{
        width: 50%;
        gap: 1.5rem;
    }
}
@media only screen and (max-width:850px){
    .landing-solution {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .landing-solution-container{
        flex-direction: column;
        gap: 2.5rem;
    }
    .landing-solution-left h2{
        line-height: 150%;
    }
    .landing-solution-left,.landing-solution-right{
        width: 100%;
    }
    .landing-solution-box{
        justify-content: flex-start;
    }
}
@media only screen and (max-width:600px){
    .landing-solution {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .landing-solution-container{
        gap: 2.5rem;
    }
    .landing-solution-left h2{
        font-size: 38px;
    }
    .landing-solution-box h3 {
        font-size: 24px;
    }
}
@media only screen and (max-width:400px){
    .landing-solution {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .landing-solution-container {
        gap: 2rem;
    }
    .landing-solution-left h2 {
        font-size: 34px;
        line-height: 130%;
    }
    .landing-solution-box {
        padding: 14px 20px;
    }
    .landing-solution-box h3 {
        font-size: 22px;
    }
}
/* ---------------------------------------------------------Lading-LearnSection-------------------------------- */

.landing-learn{
    padding-top: 110px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trafy-bg-black);
}
.landing-learn-container{
    width: 90%;
    padding: 80px 72px;
    background-color: var(--trafy-grey);
    border-radius: 24px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}
.landing-learn-container h2{
    width: 70%;
    font-size: 48px;
    font-family: var(--h-font);
    font-weight: 500;
    color: var(--h-white);
    line-height: 150%;
}
.landing-learn-button{
    padding: 16px 24px;
    width: max-content;
    height: max-content;
    border: 1px solid var(--h-white);
    border-radius: 8px;
    background-color: var(--h-white);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 22px;
    font-weight: 300;
    color: var(--h-black);
    font-family: var(--h-font);
}

@media only screen and (max-width:1200px){
    .landing-learn-container h2 {
        width: 60%;
        line-height: 140%;
    }
}
@media only screen and (max-width:1024px){
    .landing-learn-container {
        padding: 72px 54px;
        flex-direction: column;
    }
    .landing-learn-container h2 {
        width: 100%;
        font-size: 44px;
        text-align: center;
    }
    .landing-learn-button{
        font-size: 20px;
    }
}
@media only screen and (max-width:850px){
    .landing-learn {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .landing-learn-container {
        padding: 64px 48px;
    }
}
@media only screen and (max-width:600px){
    .landing-learn {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .landing-learn-container {
        padding: 48px 32px;
    }
    .landing-learn-container h2{
        font-size: 32px;
    }
    .landing-learn-button{
        font-size: 18px;
    }
}
@media only screen and (max-width:400px){
    .landing-learn {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .landing-learn-container {
        padding: 32px 24px;
        align-items: flex-start;
    }
    .landing-learn-container h2{
        font-size: 28px;
        text-align: left;
    }
    .landing-learn-button{
        font-size: 16px;
    }
}
/* ----------------------------------------------------------------Landing Community-------------------------------------------------- */

.landing-community{
    padding-top: 110px;
    padding-bottom: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--trafy-bg-black);
}
.landing-community-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.landing-community-container h2{
    font-size: 48px;
    font-family: var(--h-font);
    font-weight: 500;
    color: var(--h-white);
    text-align: center;
}
.landing-community-container p{
    width: 70%;
    font-size: 22px;
    font-family: var(--h-font);
    font-weight: 400;
    color: var(--p-white);
    text-align: center;
    line-height: 160%;
}
.landing-community-container form{
    width: 100%;
    margin-top: 6px;
    display: flex;
    justify-content: center;
}
.landing-community-input{
    width: 90%;
    display: flex;
    align-items: center;
    border: 1px solid var(--box-border);
    border-radius: 12px;
    background-color: var(--trafy-grey);
}
.landing-community-input input{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background-color: var(--trafy-grey);
    font-size: 18px;
    font-family: var(--h-font);
    font-weight: 400;
    color: var(--p-white);
}
.landing-community-input input:focus{
    outline: none;
}
.landing-community-input button{
    padding: 14px 42px;
    height: auto;
    border: none;
    border-radius: 12px;
    background-color: var(--h-white);
    font-size: 18px;
    font-family: var(--h-font);
    font-weight: 300;
    color: var(--h-black);
}
@media only screen and (max-width:1024px){
    .landing-community {
        padding-top: 60px;
        padding-bottom: 160px;
    }
    .landing-community-container {
        width: 60%;
    }
    .landing-community-container h2 {
        font-size: 44px;
    }
}
@media only screen and (max-width:850px){
    .landing-community-container {
        width: 75%;
    }
    .landing-community-container p {
        width: 75%;
    }
}
@media only screen and (max-width:600px){
    .landing-community {
        padding-top: 60px;
        padding-bottom: 130px;
    }
    .landing-community-container {
        width: 85%;
    }
    .landing-community-container h2 {
        font-size: 38px;
    }
    .landing-community-container p {
        font-size: 20px;
        width: 85%;
    }
    .landing-community-input{
        width: 95%;
    }
}
@media only screen and (max-width:400px){
    .landing-community {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    .landing-community-container {
        width: 90%;
        gap: 0.7rem;
        align-items: flex-start;
    }
    .landing-community-container h2 {
        font-size: 34px;
        text-align: left;
    }
    .landing-community-container p {
        font-size: 18px;
        width: 100%;
        text-align: left;

    }
    .landing-community-input{
        width: 100%;
    }
    .landing-community-input button {
        padding: 14px 32px;
    }
    .landing-community-input input, .landing-community-input button {
        font-size: 16px;
    }
}